PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/bgmi-arena
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
RAZORPAY_KEY_ID=rzp_test_yourkey
RAZORPAY_KEY_SECRET=your_secret
CLIENT_URL=https://bgmi-arena.vercel.app
ADMIN_REGISTRATION_KEY=bgmi-admin-passcode
